body{
    margin: 0;
}
header{
    background-color: cyan;
    padding:15px;
    position: sticky;
    top: 0;
}
section{
    padding: 20px;
}

a{
    color: black;
    font-style: italic;
    text-decoration: none;
}
a:hover{
    color: red;
}

#ContactMeMessegeBox{
    height: 200px;
    width: 200px;
}

#ContactMeForm{
    margin: 30px;
}